In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/daily_sales_data_0.csv')
df2 = pd.read_csv('data/daily_sales_data_1.csv')
df3 = pd.read_csv('data/daily_sales_data_2.csv')

In [3]:
df1.head()

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [4]:
df2.head()

       product  price  quantity        date region
0  pink morsel  $3.00       545  2019-06-11  north
1  pink morsel  $3.00       521  2019-06-11  south
2  pink morsel  $3.00       595  2019-06-11   east
3  pink morsel  $3.00       507  2019-06-11   west
4  gold morsel  $9.99       529  2019-06-11  north

In [5]:
df3.head()

       product  price  quantity        date region
0  pink morsel  $3.00       526  2020-10-13  north
1  pink morsel  $3.00       546  2020-10-13  south
2  pink morsel  $3.00       505  2020-10-13   east
3  pink morsel  $3.00       561  2020-10-13   west
4  gold morsel  $9.99       553  2020-10-13  north

In [6]:
df3.shape

(13720, 5)

In [7]:
df3[df3['date']=='2020-10-13']

              product  price  quantity        date region
0         pink morsel  $3.00       526  2020-10-13  north
1         pink morsel  $3.00       546  2020-10-13  south
2         pink morsel  $3.00       505  2020-10-13   east
3         pink morsel  $3.00       561  2020-10-13   west
4         gold morsel  $9.99       553  2020-10-13  north
5         gold morsel  $9.99       513  2020-10-13  south
6         gold morsel  $9.99       575  2020-10-13   east
7         gold morsel  $9.99       599  2020-10-13   west
8      magenta morsel  $2.50       544  2020-10-13  north
9      magenta morsel  $2.50       542  2020-10-13  south
10     magenta morsel  $2.50       507  2020-10-13   east
11     magenta morsel  $2.50       568  2020-10-13   west
12  chartreuse morsel  $3.00       509  2020-10-13  north
13  chartreuse morsel  $3.00       582  2020-10-13  south
14  chartreuse morsel  $3.00       517  2020-10-13   east
15  chartreuse morsel  $3.00       583  2020-10-13   west
16  periwinkle morsel  $1.25       511  2020-10-13  north
17  periwinkle morsel  $1.25       598  2020-10-13  south
18  periwinkle morsel  $1.25       546  2020-10-13   east
19  periwinkle morsel  $1.25       599  2020-10-13   west
20   vermilion morsel  $4.99       555  2020-10-13  north
21   vermilion morsel  $4.99       543  2020-10-13  south
22   vermilion morsel  $4.99       527  2020-10-13   east
23   vermilion morsel  $4.99       581  2020-10-13   west
24       lapis morsel  $1.99       504  2020-10-13  north
25       lapis morsel  $1.99       536  2020-10-13  south
26       lapis morsel  $1.99       518  2020-10-13   east
27       lapis morsel  $1.99       573  2020-10-13   west

In [8]:
df3[df3['product']=='pink morsel']['price'].value_counts()

$5.00    1584
$3.00     376
Name: price, dtype: int64

In [9]:
df2[df2['product']=='pink morsel']['price'].value_counts()

$3.00    1960
Name: price, dtype: int64

In [10]:
df = pd.concat([df1,df2,df3])

In [11]:
df.shape

(41160, 5)

In [12]:
df.head()

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [13]:
df1.shape + df2.shape + df3.shape

(13720, 5, 13720, 5, 13720, 5)

In [14]:
df = df[df['product']=='pink morsel'].reset_index()

In [15]:
df['product'].nunique()

1

In [16]:
df.head(1)

   index      product  price  quantity        date region
0      0  pink morsel  $3.00       546  2018-02-06  north

In [17]:
df.dtypes

index        int64
product     object
price       object
quantity     int64
date        object
region      object
dtype: object

In [18]:
df['price']= df['price'].str.replace('$','')

<ipython-input-18-d9d485eb681c>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['price']= df['price'].str.replace('$','')

In [19]:
df.head()

   index      product price  quantity        date region
0      0  pink morsel  3.00       546  2018-02-06  north
1      1  pink morsel  3.00       549  2018-02-06  south
2      2  pink morsel  3.00       577  2018-02-06   east
3      3  pink morsel  3.00       519  2018-02-06   west
4     28  pink morsel  3.00       529  2018-02-07  north

In [20]:
df.dtypes

index        int64
product     object
price       object
quantity     int64
date        object
region      object
dtype: object

In [21]:
df['price'] = pd.to_numeric(df['price'])

In [22]:
df['sales'] = df['quantity']*df['price']

In [23]:
df.sample()

      index      product  price  quantity        date region   sales
1645  11509  pink morsel    3.0       519  2019-03-24  south  1557.0

In [24]:
df.head()

   index      product  price  quantity        date region   sales
0      0  pink morsel    3.0       546  2018-02-06  north  1638.0
1      1  pink morsel    3.0       549  2018-02-06  south  1647.0
2      2  pink morsel    3.0       577  2018-02-06   east  1731.0
3      3  pink morsel    3.0       519  2018-02-06   west  1557.0
4     28  pink morsel    3.0       529  2018-02-07  north  1587.0

In [25]:
df.drop(['index','product','quantity','price'],axis=1,inplace=True)

In [26]:
df.sample()

            date region   sales
2332  2019-09-12  north  1797.0

In [27]:
df.to_csv('data/merged.csv')

In [28]:
df.head()

         date region   sales
0  2018-02-06  north  1638.0
1  2018-02-06  south  1647.0
2  2018-02-06   east  1731.0
3  2018-02-06   west  1557.0
4  2018-02-07  north  1587.0

In [29]:
df.tail()

            date region   sales
5875  2022-02-13   west  2390.0
5876  2022-02-14  north  2035.0
5877  2022-02-14  south  2465.0
5878  2022-02-14   east  2500.0
5879  2022-02-14   west  2115.0